body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-attachment: fixed;
	background-position: center;  
}

header{
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 100px;
	background: #262626;
	width: 100%;
	box-sizing: border-box;
	z-index: 1;
}

header .logo{
	color: #fff;
	height: 50px;
	line-height: 50px;
	font-size: 24px;
	float: left;
	font-weight: bold;
}

header nav{
	float: right;
}

header nav ul {
	margin: 0;
	padding: 0;
	display: flex;
}

header nav ul li{
	list-style: none;
	position: relative;
}


/*header nav ul li.submenu:before{
	content: '\f0d7';
	font-family: fontAwesome;
	position: absolute;
	line-height: 50px;
	color: #fff;
	right: 5px;

}

header nav ul li.active.submenu:before{
	content: '\f0d8';
}*/

header nav ul li ul{
	position: absolute;
	left: 0;
	background: #333;
	display: none;
}

header nav ul li:active ul{
	display: block;
}

header nav ul li ul li{
	display: block;
	width: 200px;
}

header nav ul li a{
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	color: #fff;
	text-decoration: none;
	display: block; 
}

header nav ul li a:hover,
header nav ul li a.active{
	color: #fff;
	background: #2196f3;
	
}

header.fixar{
	position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}
.menu-toggle{
	color: #fff;
	float: right;
	line-height: 50px;
	font-size: 24px;
	cursor: pointer;
	display:none;

}

.textopsg {
      width: 74%;
      margin: 3em auto;
      font-size: 20px;
      line-height: 30px;
      text-align: justify;
      font-size: 24px;
      background-color: rgba(255,255,255, .5);
}

h3{
	font-family: sans-serif;
	color: #000;
	width: 64%;
	font-size: 30px;
    margin: 5em auto;
    text-align: center;
    
}



h4{
	font-family: sans-serif;
	color: #000;
	width: 64%;
	font-size: 40px;
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
}


.personagens{
	text-align: center;
	margin-top: 4%;
}


/************ Formulário de contato **********/
#contato{
	padding-top: 80px;
	width: 70%;
	margin: 0 auto;
}

#contato input[type=text]{
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #003e6f;
	margin-bottom: 20px;	
}

#contato textarea{
	width: 100%;
	padding: 10px 10px 40px 10px;
	border-radius: 5px;
	border: 1px solid #003e6f;
	margin-bottom: 20px;
	resize: none;
}

#contato input[type=submit]{
	background-color: #003e6f;
	border-radius: 5px;
	border: 1px solid #000000;
	padding: 10px 25px 10px 25px;
	color: #ffffff;
}



/******************Rodapé***************/
footer{
	width: 100%;
	background-color: #003e6f;
	margin-top: 589px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	color: #ffffff;
	font-size: 0.75em;	
}

/********************* RESPONSIVIDADE ******************/

@media (max-width: 991px){
	header{
		padding: 0 20px;
	}
	.menu-toggle{
		display: block;
	}
	header nav{

		position: absolute;
		width: 100%;
		height: calc(100vh -50px);
		background: #333;
		top: 50px;
		left: -100%;
		transition: 0.5s;
	}
	header nav.active{
		left: 0;
	}

	header nav ul{
		display: block;
		text-align: center;
	}

	header nav ul li a{
		border-bottom: 1px solid rgba(0,0,0, .2);
	}

	header nav ul li:active ul{
		position: relative;
		background: #003e6f;

	}

	header nav ul li ul li{
		width: 100%;

	}

}

@media (max-width: 360px){
	header .logo{
		width: 50px;
		height: 25px;
	}
	}
